<% layout('layout') -%>
<div class="hero-unit">
	<h1>hello world!</h1>
	<p>This project is a express.js boilerplate web app. It includes the following components:</p>
	<ul>
		<li><a href="http://twitter.github.com/bower/">Bower</a> for package management</li>
		<li><a href="http://gruntjs.com/">Grunt</a> for building the assets</li>
		<li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> for the layout</li>
		<li><a href="http://jquery.com/">jQuery</a> for javascript</li>
		<li><a href="https://github.com/visionmedia/ejs">EJS</a> as template engine with <a href="https://github.com/aseemk/express-blocks">express-blocks</a> for layout support</li>
		<li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a> for some bits and pieces</li>
	</ul>
</div>